#character, #power-ups {
    text-transform: capitalize;
}
body{
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: 100%100vh 
}

.completed {
    display: none;
}